<h1>Available drones</h1>
<a href="/drones/create">Create Drone</a>
<div class="list">
{{#each drones}}
<div class='drones'>
    <h2>Name: {{name}}</h2>
    <h3>Propellers: {{propellers}}</h3>
    <h3>Speed: {{maxSpeed}}</h3>
    <a href='/drones/{{_id}}/edit'>Edit Drone</a>
    <br>
    <form action='/drones/{{_id}}/delete' method="post">
        <button>Delete drone</button>
    </form>
</div>
{{/each}}
</div>