<div>
    <form action="/drones/{{drone.id}}/edit" method="post">
        <h2>Update the drone</h2>
        <label> {{drone.name}}
            <input type="text" name= "name" value="{{drone.name}}">
        </label>

        <label> Propellers:
            <input type="number" name="propellers" value="{{drone.propellers}}">
        </label>

        <label> Speed:
            <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}">
        </label>

        <button type="submit">Save Drone</button>
    </form>
</div>